# User service file for mediamtx
# Place this file in ~/.config/systemd/user/
# systemctl --user daemon-reload
# systemctl --user enable mediamtx.service
# systemctl --user start mediamtx.service

[Unit]
Description=Mediamtx Service
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/mediamtx /usr/local/etc/mediamtx.yml
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
