# This restarts mediamtx and OBS as they fail to
# talk to each other after initial boot, this just 
# restarts them after 90s and they seem to then work 
# together.
#
# Place this file in ~/.config/systemd/user/
# systemctl --user daemon-reload
# systemctl --user enable obs-fix.service

[Unit]
Description=Restart mediamtx and OBS to stop stream errors
After=obs.service

[Service]
ExecStartPre=/usr/bin/sleep 90s
ExecStart=%h/Code/CageLab-Code/scripts/cagelab-reset-OBS.sh

[Install]
# activate this unit alongside graphical-session.target
WantedBy=graphical-session.target
