# Place this file in ~/.config/systemd/user/
# systemctl --user daemon-reload
# systemctl --user enable sunshine.service
# systemctl --user start sunshine.service

[Unit]
Description=Sunshine is a self-hosted game stream host for Moonlight.
StartLimitIntervalSec=500
StartLimitBurst=5
# delay initialization to after graphical-session.target has been started
After=graphical-session.target

[Service]
ExecStart=/usr/bin/sunshine
ExecStartPre=/usr/bin/sleep 30s
Restart=on-failure
RestartSec=5s

[Install]
# activate this unit alongside graphical-session.target
WantedBy=graphical-session.target